@using Newtonsoft.Json;

@{
    Layout = null;
    string strBookingDetails = Convert.ToString(Session["BooingDetails"]);
    BusPassApp.Models.BaseClass.BookingRQRS BookingDetails = JsonConvert.DeserializeObject<BusPassApp.Models.BaseClass.BookingRQRS>(strBookingDetails);
}
<script src="https://code.jquery.com/jquery-1.11.1.js" integrity="sha256-MCmDSoIMecFUw3f1LicZ/D/yonYAoHrgiep/3pCH9rw=" crossorigin="anonymous"></script>
<script src="~/Bootstrap/js/bootstrap.js"></script>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="~/Content/Main.css" rel="stylesheet" />
<link href="~/Content/CSS/Style.css" rel="stylesheet" />
<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #c3bbaf;
            padding: 8px;
            background: white;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #ffa726;
            color: white;
            padding: 6px;
        }
</style>

<div class="ticket">


    <div class="illustration">
        <div class="spikes">
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
            <div class="spike"></div>
        </div>

        <div class="row">
            <div class="mar-l-26 mar-t-25 box-sh-1 wi-50">
                <img src="~/Images/QR.png" class="wi-100">
            </div>
        </div>
        <div class="row">
            <div class="pad-8 bor-2-1 cl-000000 wi-43 mar-l-30 mar-t-8 txt-al-cen bor-rad-62">

                <i class="fa fa-download mar-r-6 fn-si-21" aria-hidden="true"></i>   <span class="fn-si-20 cur-poi fn-wi-900" onclick="saveDiv()">Download</span>
            </div>
        </div>
        <!--     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.42 145" class="spikes"><g data-name="Layer 2"><path fill="#fbad18" fill-rule="evenodd" d="M.33 0H0v145h.33l7.09-6.59-7.09-6.59 7.09-6.59-7.09-6.59 7.09-6.59-7.09-6.6 7.09-6.59-7.09-6.59 7.09-6.59-7.09-6.59 7.09-6.59-7.09-6.59 7.09-6.59-7.09-6.59 7.09-6.59-7.09-6.59 7.09-6.6-7.09-6.59 7.09-6.59-7.09-6.59 7.09-6.59L.33 0z" data-name="Layer 1"/></g></svg> -->
    </div>

    <div class="content">

        <div class="mar-l-25">
            <span class="w-t-s fn-si-33 fn-wi-500 cl-31d031"><i class="fa fa-check-circle mar-r-2" aria-hidden="true"></i>Booked Successfully</span>
        </div>
        <div class="wi-76 bor-1-1 mar-t-4" >
            <div class="bg-fff">
                <span class="fn-si-21 fn-wi-600 pad-4">
                    <i class="fa fa-ticket" aria-hidden="true"></i>Pass Details
                </span>
            </div>
            <table id="customers">
                <tbody>
                    <tr>
                        <th>User ID</th>
                        <th>Pass Type</th>
                        <th>ID</th>
                        <th>Amount</th>
                    </tr>
                    <tr>
                        <td class="bg-white">
                            @BookingDetails.strUserID
                        </td>
                        <td>@BookingDetails.strPassName</td> 
                        <td>@BookingDetails.strPassCode</td>
                        <td>@BookingDetails.strAmount</td>
                    </tr>


                </tbody>
            </table>
        </div>
        <div class="wi-76 bor-1-1 mar-t-4">
            <div class="bg-fff">
                <span class="fn-si-21 fn-wi-600 pad-4">
                    <i class="fa fa-user-secret" aria-hidden="true"></i>Passenger's Detials
                </span>
            </div>
            <table id="customers">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>DOB</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                    </tr>
                    <tr>
                        <td class="bg-white">
                            @BookingDetails.strFName  @BookingDetails.strLName </td>
                        <td>@BookingDetails.strDOB</td>
                        <td>@BookingDetails.strPhnNo</td>
                        <td>@BookingDetails.strMail</td>
                    </tr>


                </tbody>
            </table>
        </div>
        <div class="row mar-t-7">
            <div class="col-md-4">
                <div class="pad-8 bor-2-2 cl-white wi-51 he-8 txt-al-cen bor-rad-62 mar-l-33">
                    <i class="fa fa-home fn-si-21 mar-r-6" aria-hidden="true"></i> <span class="fn-si-20 fn-wi-900 cur-poi" onclick="gotoHome()">Home</span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="pad-8 bor-2-2 cl-white wi-51 he-8 txt-al-cen bor-rad-62 mar-l-33">

                    <i class="fa fa-print fn-si-21 mar-r-6" aria-hidden="true"></i>   <span class="fn-si-21 mar-r-6" 
      onclick="printDiv()">Print</span>
                </div>
            </div>
        </div>

    </div>
    </div>
    <script>
        $("#redirectToHome").click(function () {
            var RedirectURL = '@Url.Action("PassInfo", "HomePage")';
            location.replace(RedirectURL);
        });
      
        var doc = new jsPDF();

        function saveDiv() {
            doc.fromHTML(`<html><head>Booking Pass</head><body><img src="/Images/QR.png" style="width: 100%;"></body></html>`);
            doc.save('div.pdf');
        }

        function printDiv() {

            let mywindow = window.open('', 'PRINT', 'height=650,width=900,top=100,left=150');

            mywindow.document.write(`<html><head><title>Booking</title>`);
            mywindow.document.write('</head><body >');
            mywindow.document.write('<img src="/Images/QR.png" style="width: 100%;">');
            mywindow.document.write('</body></html>');

            mywindow.document.close(); // necessary for IE >= 10
            mywindow.focus(); // necessary for IE >= 10*/

            mywindow.print();
            mywindow.close();

            return true;
        }

    </script>

    