@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";

    string strUser_Data = Session["USER_DATA"] != null ? Session["USER_DATA"].ToString() : "";
    string strRegNo = Session["REG_NO"] != null ? Session["REG_NO"].ToString() : "";
    string strUserMail = Session["USD_USER_MAILID"] != null ? Session["USD_USER_MAILID"].ToString() : "";
    string strNAME = Session["USER_NAME"] != null ? Session["USER_NAME"].ToString() : "";
    string strUserDOB = Session["USER_DOB"] != null ? Session["USER_DOB"].ToString() : "";
    string strUserSEX = Session["USER_SEX"] != null ? Session["USER_SEX"].ToString() : "";
    string strUserADDRESS = Session["USER_ADDRESS"] != null ? Session["USER_ADDRESS"].ToString() : "";
    string strUserData =  Session["USER_DATA"] != null ? Session["USER_DATA"].ToString() : "";
    
}
<link href="~/Content/CSS/Main.css" rel="stylesheet" />
<script src="~/Apps_JS/Booking.js"></script>

<style>
    html {
        background: #e6d5d5;
    }

    body {
        background: #e6d5d5;
    }

    .dvpbs {
        cursor: pointer;
        text-align: center;
        width: 25%;
        height: 95px;
        color: white;
        background: #f9f7f7;
        border: 1px solid #990000;
        padding-top: 4%;
        padding-bottom: 3%;
    }

        .dvpbs:hover {
            cursor: pointer;
            text-align: center;
            width: 25%;
            height: 95px;
            padding-top: 4%;
            padding-bottom: 3%;
            color: white;
            background: brown;
            border: 1px solid #990000;
        }


    .spnbps {
        font-size: 15px;
        color: black;
        font-weight: bold;
        font-family: none;
    }

    .dvpbs:hover span {
        color: white;
    }

    .dvpbs:hover i {
        color: white !important;
    }


    .dvwholepbs {
        padding: 4%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
    }
</style>
<div>
    <marquee direction="left" style="cursor: pointer;width: 99%;" onmouseover="this.stop()" onmouseout="this.start()">
        This is sample scrolling text for your buspass notification. Orginal notification will coming soon.<a href="www.google.com">Click here!!</a>
    </marquee>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="dvwholepbs">


            <div class="col-md-6 dvpbs" id="dvIssueNewPBS" style="margin-left: 13%; box-shadow: 5px 10px #e2b4b4;"><span class="spnbps"><i class="fa fa-ticket clsicon" aria-hidden="true" style="color: black;margin-right: 4%;font-size: 17px;"></i>ISSUE NEW PASS</span></div>
            <div class="col-md-6 dvpbs" id="dvPBSRenewal" style="margin-left: 13%; box-shadow: 5px 10px #e2b4b4;"><span class="spnbps"><i class="fa fa-refresh clsicon" aria-hidden="true" style="color: black;margin-right: 4%;font-size: 17px;"></i>PASS RENEWAL</span></div>
            <div class="col-md-6 dvpbs" id="dvPBSViewDetails" style="margin-top: 3%; margin-left: 13%; box-shadow: 5px 10px #e2b4b4;"><i class="fa fa-address-card-o clsicon" aria-hidden="true" style="color: black;margin-right: 4%;font-size: 17px;"></i><span class="spnbps">VIEW DETAILS</span></div>
            <div class="col-md-6 dvpbs" id="dvPBSDownload" style="margin-top: 3%; margin-left: 13%; box-shadow: 5px 10px #e2b4b4;"><i class="fa fa-download clsicon" aria-hidden="true" style="color: black;margin-right: 4%;font-size: 17px;"></i><span class="spnbps">DOWNLOAD PASS</span></div>
        </div>
    </div>
    <div class="col-md-4" style="padding-left:5px">
        <div class="id-card-wrapper">
            <div class="id-card">
                <div style="text-align: center;color: black;font-weight: bold;font-size: 18px;">Tamil Nadu State Transport Coporation Ltd.</div>
                <div style="text-align: center;color: black;">(A Goverment of Tamilnadu undertaking)</div>
                <div style="text-align: center;background: black;margin-top: 2%;">BusPass ID Card</div>
                <div class="profile-row" style="margin-top: 2%;">
                    <div class="dp">
                        <div class="dp-arc-outer"></div>
                        <div class="dp-arc-inner"></div>
                        <img src="~/ProfilePic/Screenshot%20(25).png" />
                    </div>
                    <div style="padding-left: 6%;margin-top: 3%;">
                        <div style="font-family: none; font-size: 95%;">
                            <span>Pass NO</span>
                            <span style="margin-left: 5%;">:</span>
                            <span style="margin-left: 6%;" id="spnPassNo">BPS000001</span>
                        </div>
                        <div style="font-family: none; font-size: 95%;">
                            <span>Name</span>
                            <span style="margin-left: 11%;">:</span>
                            <span style="margin-left: 6%;" id="spnName">Siancheevi P</span>
                        </div>
                        <div style="font-family: none; font-size: 95%;">
                            <span>Age</span>
                            <span style="margin-left: 15%;">:</span>
                            <span style="margin-left: 6%;" id="spnAge">21</span>
                        </div>
                        <div style="font-family: none; font-size: 95%;">
                            <span>Sex</span>
                            <span style="margin-left: 16%;">:</span>
                            <span style="margin-left: 6%;" id="spnSex">Male</span>
                        </div>
                        <div style="font-family: none; font-size: 95%;">
                            <span>Address</span>
                            <span style="margin-left: 7%">:</span>
                            <span style="margin-left: 6%;" id="spnAddress">3/11 A, South Street, Viragalur, Trichy.</span>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="id-card" style="color: black; background: #129c12; color: white; font-weight: bold; justify-content: center; text-align: center; padding-top: 13%; padding-bottom: 13%; margin-top: 5%;">
            There is no active pass in your account. kindly Please take a new Pass.

        </div>

    </div>
</div>

<div class="modal in" id="dvRedirectToPassRegistrationPage" role="dialog">
    <div class="modal-dialog" style="width:70%">
        <div class="modal-content">
            <div class="modal-header" style="background: #990000;">
                <button type="button" class="close" data-dismiss="modal" style="color: white;">×</button>
                <h4 class="modal-title" style="color: white;font-weight: bold;">New Pass Confirmation</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4" style="text-align: right;"><label>Type of Pass</label></div>
                    <div class="col-md-6">
                        <select class="form-control" id="ddlPassType" onchange="showEligibility(this);">
                            <option value="">--Select--</option>
                            <option value="SP">Student Pass (School)</option>
                            <option value="CP">Student Pass (College)</option>
                            <option value="MP">Monthly Pass </option>
                            <option value="SCP">Senior Citizens pass</option>
                            <option value="HBP">Handicapped and Blind pass</option>
                            <option value="JPP">Journalists / Press Reporter pass</option>
                            <option value="FFP">Freedom fighters pass</option>
                            <option value="TP">Travel as you Please Tickets</option>
                        </select>
                    </div>
                </div>
                <div style="margin-top:2%">
                    <div id="dvHead" style="display:none;">
                        <h4 style="margin-bottom: 1%;padding-bottom: 1%;border-bottom: 1px solid #bdbbbb;font-weight: bold;display:none;">Eligible Criteria</h4>
                    </div>
                    <div style="font-size: 16px;font-family: auto;">
                        <ul class="clsEligibleCriteria SP">
                            <li>Students studying from 1st Std to 12 th Std. in the Schools recognized by Government and students studying in the Government Colleges and Government Polytechnics are eligible to avail this free bus pass facility.</li>
                            <li>Passes issued to travel from residence to school and back.</li>
                            <li>Allowed to travel on all days in the month.</li>
                            <li>Permitted to travel in all Ordinary,Express and Deluxe services</li>
                            <li>Passes are issued from 15th of June to 30th of November every year. The validity period is from 15th June to 30th April.</li>
                        </ul>
                        <ul class="clsEligibleCriteria CP">
                            <li>Students studying above 12th standard in Govt. recognized institutions excluding students studying in Government colleges and Government polytechnics are eligible to avail the concession and permitted to travel from their residence to college/library back on all days in a month.</li>
                            <li>Concession tickets are valued on Ordinary Fares Only.</li>
                            <li>Permitted to travel in all Ordinary,Express and deluxe services only.</li>
                            <li>60 Exchange Tokens per month at Rs.3.50/- per token, to travel to library and back to the residence.</li>
                            <li>Issue of 50% Student Concession application forms, Registration and Issue of Point to Point card with tokens for the first month of every academic year is being done through the concerned educational institutions. For the subsequent months, Point to Point cards and Tokens will be issued directly to the student at the M.T.C.’s Sales Counters.</li>
                        </ul>
                        <ul class="clsEligibleCriteria CP">
                            <li>Students studying above 12th standard in Govt. recognized institutions excluding students studying in Government colleges and Government polytechnics are eligible to avail the concession and permitted to travel from their residence to college/library back on all days in a month.</li>
                            <li>Concession tickets are valued on Ordinary Fares Only.</li>
                            <li>Permitted to travel in all Ordinary,Express and deluxe services only.</li>
                            <li>60 Exchange Tokens per month at Rs.3.50/- per token, to travel to library and back to the residence.</li>
                            <li>Issue of 50% Student Concession application forms, Registration and Issue of Point to Point card with tokens for the first month of every academic year is being done through the concerned educational institutions. For the subsequent months, Point to Point cards and Tokens will be issued directly to the student at the M.T.C.’s Sales Counters.</li>
                        </ul>
                        <ul class="clsEligibleCriteria MP">
                            <li>Allowed to travel in Ordinary/EXP/Deluxe/Night services except Volvo/Lift services and Chartered trips.</li>
                            <li>Valid for the period mentioned in the card.</li>
                            <li>Valid only if signed by the purchaser.</li>
                            <li>No duplicate card is issued.</li>
                            <li>To travel with the identity card issued by the MTC.</li>
                        </ul>

                        <ul class="clsEligibleCriteria HBP">
                            <span style="font-size: 17px;font-weight: bold;">For Handicapped people</span>
                            <li>To be recommended by the District Rehabilitation Officer.</li>
                            <li>Disability should be more than 40%.</li>
                            <li>Annual income should be less than Rs.12000/-.</li>
                            <li>Passes issued by MTC.</li>
                            <li>Allowed to travel Point-to-Point [i.e.] from residence to hospital / Educational Institutions / . Workplace within a max. distance of 30 Km.</li>
                            <li>One attendant is allowed to travel with mentally retarded person.</li>
                            <li>To travel with the identity card issued by Rehabilitation department</li>
                        </ul>
                        <ul class="clsEligibleCriteria HBP">
                            <span style="font-size: 17px;font-weight: bold;">For Blind people</span>
                            <li>To be recommended by District rehabilitation Officer.</li>
                            <li>No restriction on income, travel distance and number of trips per month.</li>
                            <li>Passes issued by MTC.</li>
                            <li>To travel with the identity card issued by Rehabilitation department</li>
                        </ul>
                        <ul class="clsEligibleCriteria JPP">
                            <li>All route passes with ID are issued.</li>
                            <li>Passes are issued to accredited Journalists/Reporters up to a maximum of 300 passes per year.</li>
                        </ul>
                        <ul class="clsEligibleCriteria FFP">
                            <li>Passes issued on production of freedom fighter pension certificate/financial assistance certificate ISSUED BY State/Central Grovernment.</li>
                            <li>Allowed to travel in all routes.</li>
                            <li>Allowed to travel in all STU buses.</li>
                        </ul>
                        <ul class="clsEligibleCriteria SCP">
                            <li>Passenger's age should be greater than 50.</li>
                            <li>Allowed to travel in all routes.</li>
                            <li>Allowed to travel in all STU buses.</li>
                        </ul>
                        <ul class="clsEligibleCriteria TP">
                            <li>Allowed to travel in Ordinary/EXP/Deluxe/Night services except Volvo/Lift services and Chartered trips.</li>
                            <li>Valid for the period mentioned in the card.</li>
                            <li>No duplicate card is issued.</li>
                            <li>To travel with the identity card issued by the MTC.</li>
                        </ul>


                        <div style="text-align: center;margin-top:2%;"><input type="button" class="btnreg" value="Proceed" onclick="NewPassProceed();"></div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
</div>

<script>
    $(document).ready(function () {
        debugger

        @*$("#spnPassNo").html("@strRegNo");
        $("#spnName").html("@strNAME");
        $("#spnAge").html("@strUserDOB");
        $("#spnSex").html("@strUserSEX");
        $("#spnAddress").html("@strUserADDRESS");*@

    });
    $("#dvPBSRenewal").click(function () { })
    $("#dvIssueNewPBS").click(function () {
        window.location.href = '@Url.Action("PassInfo", "HomePage")';
        return false;
        $(".clstyperr").remove();
        $(".clsEligibleCriteria").hide();
        $("#dvRedirectToPassRegistrationPage").modal('show');
    })
    $("#dvPBSViewDetails").click(function () { })
    $("#dvPBSDownload").click(function () { })

    function showEligibility(that) {
        $(".clstyperr").remove();
        var selectedValue = $(that).val();
        if (selectedValue != "") {
            $("#dvHead").show();
            $(".clsEligibleCriteria").hide();
            $("." + selectedValue).show();
        }
        else {
            $("#dvHead").hide();
            $(".clsEligibleCriteria").hide();
        }
    }
    function NewPassProceed()   {
        $(".clstyperr").remove();
        if ($("#ddlPassType").val() == "") {
            $("#ddlPassType").after('<span style="color: red;" class="clstyperr">Please Select Pass type </span>');
            $("#ddlPassType").focus();
            return false;
        }
        var selectedValue = $("#ddlPassType").val();
        $("#dvRedirectToPassRegistrationPage").modal('hide');
        window.location.href = '@Url.Action("IssueNewPass", "HomePage")?type=' + selectedValue + '';
    }


</script>
